comparison_flow/assembled_flow.json
{
  "name": "Generischer AVB-Vergleich - Mitbewerber Dokumente",
  "nodes": [
    {
      "parameters": {},
      "id": "fc242ffa-eb90-4ad5-a20e-41b485accaed",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4840,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 1: Konfiguration - Generische Parameter\n// Unterstuetzt mehrere Mitbewerber gleichzeitig.\n// Dokumente werden pro Versicherer als separate RAG-Collection\n// in OpenWebUI hochgeladen (eine Collection pro Versicherer).\n// ═══════════════════════════════════════════════════════\n\n// --- ANPASSEN: Eigene Firma ---\nconst OWN_COMPANY_NAME = 'HanseMerkur';\nconst OWN_COMPANY_SHORT = 'HMR';\nconst OWN_PRODUCT_NAME = 'Seminar-Ruecktrittsversicherung';\n\n// --- ANPASSEN: Mitbewerber (Array - beliebig viele Versicherer) ---\n// Jeder Eintrag benoetigt eine eigene RAG-Collection-ID.\n// Neue Versicherer einfach als weiteres Objekt hinzufuegen.\nconst COMPETITORS = [\n  {\n    name: 'ERGO Reiseversicherung',\n    short: 'ERV',\n    productName: 'Seminar-Versicherung',\n    ragCollection: '32c26a09-6c8c-449c-a060-1146f20c0322'  // <-- ANPASSEN\n  },\n  // Weiteren Mitbewerber hier hinzufuegen:\n  // {\n  //   name: 'Allianz Travel',\n  //   short: 'ALZ',\n  //   productName: 'Seminar-Schutz',\n  //   ragCollection: 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'  // <-- Collection ID\n  // },\n];\n\n// --- ANPASSEN: API Einstellungen ---\nconst API_BASE_URL = 'https://aihubtest.hanse-merkur.de';\nconst RAG_ENDPOINT = '/api/v1/retrieval/query/collection';\nconst LLM_ENDPOINT = '/api/chat/completions';\nconst LLM_MODEL = 'qwen3:30b-a3b-instruct-2507-q8_0';\nconst RAG_TOP_K = 5;\n\nreturn {\n  config: {\n    ownCompanyName: OWN_COMPANY_NAME,\n    ownCompanyShort: OWN_COMPANY_SHORT,\n    ownProductName: OWN_PRODUCT_NAME,\n    competitors: COMPETITORS,\n    apiBaseUrl: API_BASE_URL,\n    ragEndpoint: RAG_ENDPOINT,\n    llmEndpoint: LLM_ENDPOINT,\n    llmModel: LLM_MODEL,\n    ragTopK: RAG_TOP_K\n  }\n};"
      },
      "id": "a1b2c3d4-0001-4000-a000-000000000001",
      "name": "01 - Config Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4600,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 2: Eigene Hard Facts + RAG-Queries\n// Generisch: Erstellt Fakten fuer ALLE konfigurierten Mitbewerber.\n// Ergebnis: (Anzahl Fakten) × (Anzahl Mitbewerber) Items.\n//\n// ANPASSEN: Fakten fuer das jeweilige Produkt eintragen.\n// Die Struktur bleibt generisch:\n//   - own_data: eigene Leistung/Regelung\n//   - rag_query: Frage an die Mitbewerber-AVB (nutze comp.name)\n// ═══════════════════════════════════════════════════════\n\nconst config = $('01 - Config Parameters').first().json.config;\n\n// Fakten als Funktion - wird einmal pro Mitbewerber aufgerufen\nfunction buildFacts(comp) {\n  return [\n    {\n      id: 1,\n      kategorie: 'Produktuebersicht',\n      aspekt: 'Produktname und Versicherungssparten',\n      own_data: 'Seminar-Ruecktrittsversicherung. Sparte: Reise-Ruecktritt. Geltungsbereich: Europa.',\n      rag_query: `Wie heisst das Produkt der ${comp.name} fuer Seminare? Welche Sparten sind enthalten? Welcher raeumliche Geltungsbereich gilt?`\n    },\n    {\n      id: 2,\n      kategorie: 'Produktuebersicht',\n      aspekt: 'AVB-Version und Selbstbehalt',\n      own_data: 'AVB: VB-RS 2021 (T-Seminar-D). Selbstbehalt: 20% bei ambulant behandelten Erkrankungen, mind. 25 EUR je versicherter Person.',\n      rag_query: `Welche Versicherungsbedingungen (AVB) gelten fuer die ${comp.name} Seminar-Versicherung? Gibt es einen Selbstbehalt oder eine Selbstbeteiligung?`\n    },\n    {\n      id: 3,\n      kategorie: 'Versicherte Leistungen - Ruecktritt',\n      aspekt: 'Stornokosten bei Nichtantritt des Seminars',\n      own_data: 'Uebernahme der Stornokosten fuer das nicht angetretene Seminar.',\n      rag_query: `Was erstattet die ${comp.name} Seminar-Versicherung bei Stornierung bzw. Ruecktritt vom Seminar? Werden auch Stornokosten fuer Seminarreihen und zusaetzliche Reiseleistungen uebernommen?`\n    },\n    {\n      id: 4,\n      kategorie: 'Versicherte Leistungen - Ruecktritt',\n      aspekt: 'Verspaeteter Seminarantritt',\n      own_data: 'Erstattung der Hinreise-Mehrkosten bis maximal zur Hoehe der Stornokosten, die bei einer Stornierung anfallen.',\n      rag_query: `Was leistet die ${comp.name} Seminar-Versicherung bei verspaetem Seminarantritt? Werden Mehrkosten der Anreise und nicht genutzte Seminarleistungen erstattet?`\n    },\n    {\n      id: 5,\n      kategorie: 'Versicherte Leistungen - Ruecktritt',\n      aspekt: 'Verspaetung oeffentliches Verkehrsmittel (mehr als 2 Stunden)',\n      own_data: 'Erstattung der Hinreise-Mehrkosten bis maximal zur Hoehe der Stornokosten.',\n      rag_query: `Was erstattet die ${comp.name} Seminar-Versicherung bei Verspaetung eines oeffentlichen Verkehrsmittels um mehr als zwei Stunden? Gibt es einen Verspaetungsschutz mit Betraegen fuer Anreise-Mehrkosten, Verpflegung und Unterkunft?`\n    },\n    {\n      id: 6,\n      kategorie: 'Versicherte Leistungen - Ruecktritt',\n      aspekt: 'Panne oder Unfall des eigenen Kraftfahrzeugs',\n      own_data: 'Nicht versichert. Nur wenn dadurch das versicherte Verkehrsmittel versaeumt wird: Erstattung der Hinreise-Mehrkosten bis maximal zur Hoehe der Stornokosten.',\n      rag_query: `Was leistet die ${comp.name} Seminar-Versicherung bei Panne oder Unfall des eigenen Kraftfahrzeugs? Werden Kosten fuer nicht genutzte Leistungen, zusaetzliche Reisekosten oder ein Mietfahrzeug erstattet?`\n    },\n    {\n      id: 7,\n      kategorie: 'Versicherte Leistungen - Ruecktritt',\n      aspekt: 'Umbuchung des Seminars',\n      own_data: 'Erstattung der Umbuchungskosten bis maximal zur Hoehe der Stornokosten.',\n      rag_query: `Sind Umbuchungsgebuehren bei der ${comp.name} Seminar-Versicherung versichert? Bis zu welcher Hoehe werden Umbuchungsgebuehren erstattet?`\n    },\n    {\n      id: 8,\n      kategorie: 'Reiseabbruch',\n      aspekt: 'Abbruch des Seminars',\n      own_data: 'Nicht versichert.',\n      rag_query: `Was leistet die ${comp.name} Seminar-Versicherung bei Abbruch des Seminars? Werden anteilige Preise fuer nicht genutzte Leistungen und zusaetzliche Rueckreisekosten erstattet?`\n    },\n    {\n      id: 9,\n      kategorie: 'Reiseabbruch',\n      aspekt: 'Verspaetete Rueckreise vom Seminar',\n      own_data: 'Nicht versichert.',\n      rag_query: `Hilft die ${comp.name} Seminar-Versicherung bei verspaeteter Rueckreise vom Seminar? Wird die Rueckreise organisiert oder ein Darlehen fuer Mehrkosten gewaehrt?`\n    },\n    {\n      id: 10,\n      kategorie: 'Reiseabbruch',\n      aspekt: 'Verlaengerter Aufenthalt wegen stationaerer Behandlung',\n      own_data: 'Nicht versichert.',\n      rag_query: `Erstattet die ${comp.name} Seminar-Versicherung zusaetzliche Unterkunftskosten bei verlaengertem Aufenthalt wegen stationaerer Behandlung? Bis zu welchem Betrag?`\n    },\n    {\n      id: 11,\n      kategorie: 'Reiseabbruch',\n      aspekt: 'Verlaengerter Aufenthalt wegen ambulanter Behandlung',\n      own_data: 'Nicht versichert.',\n      rag_query: `Erstattet die ${comp.name} Seminar-Versicherung zusaetzliche Unterkunftskosten bei verlaengertem Aufenthalt wegen ambulanter Behandlung? Bis zu welchem Betrag?`\n    },\n    {\n      id: 12,\n      kategorie: 'Reiseabbruch',\n      aspekt: 'Verlaengerter Aufenthalt wegen Feuer oder Elementarereignissen',\n      own_data: 'Nicht versichert.',\n      rag_query: `Was leistet die ${comp.name} Seminar-Versicherung bei Feuer oder Elementarereignissen am Seminarort? Werden Mehrkosten fuer verlaengerten Aufenthalt und ausserplanmaessige Rueckreise erstattet?`\n    },\n    {\n      id: 13,\n      kategorie: 'Versicherte Ereignisse',\n      aspekt: 'Nichtversetzung als Schueler oder Student',\n      own_data: 'Versichert.',\n      rag_query: `Ist Nichtversetzung eines Schuelers oder Studenten ein versichertes Ereignis bei der ${comp.name} Seminar-Versicherung? Welche Pruefungsereignisse sind versichert?`\n    },\n    {\n      id: 14,\n      kategorie: 'Versicherte Ereignisse',\n      aspekt: 'Panne oder Unfall des Kraftfahrzeuges als Ruecktrittsgrund',\n      own_data: 'Nicht direkt versichert. Nur indirekt wenn dadurch das versicherte Verkehrsmittel versaeumt wird.',\n      rag_query: `Ist Panne oder Unfall des eigenen Kraftfahrzeugs ein versichertes Ereignis bei der ${comp.name} Seminar-Versicherung das zum Ruecktritt berechtigt?`\n    },\n    {\n      id: 15,\n      kategorie: 'Versicherte Ereignisse',\n      aspekt: 'Erkrankung, Unfall oder Tod eines Hundes oder einer Katze',\n      own_data: 'Versichert.',\n      rag_query: `Ist die Erkrankung, der Unfall oder Tod eines Hundes oder einer Katze ein versichertes Ereignis bei der ${comp.name} Seminar-Versicherung?`\n    },\n    {\n      id: 16,\n      kategorie: 'Versicherte Ereignisse',\n      aspekt: 'Feuer oder Elementarereignisse am Seminarort',\n      own_data: 'Nicht versichert.',\n      rag_query: `Sind Feuer oder Elementarereignisse am Seminarort versicherte Ereignisse bei der ${comp.name} Seminar-Versicherung? Was zaehlt als Elementarereignis?`\n    },\n    {\n      id: 17,\n      kategorie: 'Versicherte Ereignisse',\n      aspekt: 'Absage durch den Veranstalter',\n      own_data: 'Nicht versichert.',\n      rag_query: `Ist die Absage des Seminars durch den Veranstalter ein versichertes Ereignis bei der ${comp.name} Seminar-Versicherung? Was wird in diesem Fall erstattet?`\n    },\n    {\n      id: 18,\n      kategorie: 'Weiteres',\n      aspekt: 'Mitversicherung zusaetzlich gebuchter Reiseleistungen',\n      own_data: 'Nicht versichert. Die Versicherungssumme sichert den Seminarpreis ab. Weitere Reiseleistungen muessen separat versichert werden.',\n      rag_query: `Sind zusaetzlich gebuchte Reiseleistungen wie Anreise, Rueckreise und Unterkunft bei der ${comp.name} Seminar-Versicherung mitversichert? Welche zeitlichen Voraussetzungen gelten?`\n    },\n    {\n      id: 19,\n      kategorie: 'Weiteres',\n      aspekt: 'Maximal versicherbarer Zeitraum und Seminarreihen',\n      own_data: '1 Seminarreise, unabhaengig von der Seminardauer. Bei Seminarreihen muss jedes Modul separat abgeschlossen werden.',\n      rag_query: `Wie lange ist der maximal versicherbare Zeitraum bei der ${comp.name} Seminar-Versicherung? Koennen Seminarreihen mit mehreren Teilveranstaltungen versichert werden? Bis zu welcher Dauer?`\n    },\n    {\n      id: 20,\n      kategorie: 'Weiteres',\n      aspekt: 'Abschlussfristen',\n      own_data: 'Abschluss bis 30 Tage vor Reisebeginn oder spaetestens bis zum 3. Werktag nach der Reisebuchung.',\n      rag_query: `Welche Abschlussfristen gelten fuer die ${comp.name} Seminar-Versicherung? Bis wann muss der Versicherungsvertrag abgeschlossen werden?`\n    }\n  ];\n}\n\n// Kartesisches Produkt: Fakten × Mitbewerber\nconst items = [];\nfor (const competitor of config.competitors) {\n  const facts = buildFacts(competitor);\n  for (const fact of facts) {\n    items.push({\n      json: { ...fact, config: { ...config, currentCompetitor: competitor } }\n    });\n  }\n}\nreturn items;"
      },
      "id": "a1b2c3d4-0002-4000-a000-000000000002",
      "name": "02 - Eigene Fakten + RAG Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4360,
        400
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "a1b2c3d4-0003-4000-a000-000000000003",
      "name": "03 - Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4120,
        400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 4: Build RAG Request gegen Mitbewerber Collection\n// Generisch: Verwendet die Collection-ID des aktuellen Mitbewerbers\n// ═══════════════════════════════════════════════════════\nconst fact = $input.item.json;\nconst config = fact.config;\nconst competitor = config.currentCompetitor;\n\nreturn {\n  ...fact,\n  retrievalRequestBody: JSON.stringify({\n    collection_names: [competitor.ragCollection],\n    query: fact.rag_query,\n    k: config.ragTopK\n  })\n};"
      },
      "id": "a1b2c3d4-0004-4000-a000-000000000004",
      "name": "04 - Build RAG Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3880,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('01 - Config Parameters').first().json.config.apiBaseUrl }}{{ $('01 - Config Parameters').first().json.config.ragEndpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.retrievalRequestBody }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-a000-000000000005",
      "name": "05 - RAG Retrieve Mitbewerber AVB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3640,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID_HERE",
          "name": "AI Hub API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 6: Parse RAG + Build LLM Comparison Request\n// Generisch: Verwendet Config fuer Firmennamen und Modell\n// Das LLM extrahiert Mitbewerber-Infos AUS DEM RAG\n// ═══════════════════════════════════════════════════════\nconst ragResp = $input.item.json;\nconst fact = $('04 - Build RAG Request').item.json;\nconst config = fact.config;\nconst comp = config.currentCompetitor;\n\nconst docs = ragResp.documents?.[0] || [];\nconst metas = ragResp.metadatas?.[0] || [];\nconst dists = ragResp.distances?.[0] || [];\n\nconst contextChunks = docs.map((text, i) => {\n  const meta = metas[i] || {};\n  const source = (meta.name || meta.source || 'Unbekannt')\n    .replace(/\\.md\\.txt$|\\.txt$|\\.md$/gi, '').replace(/_/g, ' ').trim();\n  const dist = dists[i] || 'N/A';\n  return '### Chunk ' + (i+1) + ' (Quelle: ' + source + ', Distance: ' + (typeof dist === 'number' ? dist.toFixed(3) : dist) + ')\\n' + text;\n}).join('\\n\\n');\n\nconst systemPrompt = `Du bist ein Versicherungsexperte, der AVB (Allgemeine Versicherungsbedingungen) analysiert und vergleicht.\n\nDeine Aufgabe: Analysiere die bereitgestellten ${comp.name} AVB-Dokumente zu einem bestimmten Aspekt und vergleiche das Ergebnis mit der ${config.ownCompanyName} ${config.ownProductName}.\n\n## WICHTIGE REGELN:\n1. Extrahiere die ${comp.short}-Informationen AUSSCHLIESSLICH aus den bereitgestellten RAG-Dokumenten\n2. Wenn die Dokumente KEINE Information zu diesem Aspekt enthalten, schreibe klar: \"In den vorliegenden ${comp.short} AVB wurde hierzu keine Regelung gefunden.\"\n3. ERFINDE KEINE Informationen - nur was in den Dokumenten steht\n4. Sei praezise: Nenne konkrete Betraege, Prozentsaetze, Bedingungen, Paragraphen\n5. Zitiere relevante Passagen aus den Dokumenten\n6. Bewerte am Ende: Welcher Anbieter bietet hier den besseren Schutz? (${config.ownCompanyShort} besser / ${comp.short} besser / gleichwertig / nicht vergleichbar)\n7. Antworte auf Deutsch in strukturierter Form\n\n## Bereitgestellte ${comp.short} AVB-Dokumente:\n` + contextChunks;\n\nconst userPrompt = `Analysiere und vergleiche folgenden Aspekt:\n\n**Kategorie:** ${fact.kategorie}\n**Aspekt:** ${fact.aspekt}\n\n**${config.ownCompanyName} (${config.ownCompanyShort}) Regelung:**\n${fact.own_data}\n\n**Frage an die ${comp.short} AVB:**\n${fact.rag_query}\n\nBitte:\n1. Was genau sagen die ${comp.short} AVB-Dokumente zu diesem Aspekt? Zitiere relevante Stellen.\n2. Fasse die ${comp.short}-Regelung in 1-3 Saetzen zusammen\n3. Vergleiche mit der ${config.ownCompanyShort}-Regelung: Was sind die konkreten Unterschiede?\n4. Bewertung: Wer bietet den besseren Schutz fuer diesen Aspekt?\n5. **KURZFASSUNG:** Gib eine praegnante Kurzfassung der ${comp.short}-Regelung zu diesem Aspekt in maximal 100 Zeichen. Format: **KURZFASSUNG:** [Kurztext]`;\n\nreturn {\n  ...fact,\n  ragContext: contextChunks,\n  ragChunkCount: docs.length,\n  ragDistances: dists.filter(d => typeof d === 'number').map(d => d.toFixed(3)),\n  requestBody: JSON.stringify({\n    model: config.llmModel,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: userPrompt }\n    ],\n    temperature: 0.2,\n    max_tokens: 1200,\n    stream: false\n  })\n};"
      },
      "id": "a1b2c3d4-0006-4000-a000-000000000006",
      "name": "06 - Parse RAG + Build LLM Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3400,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('01 - Config Parameters').first().json.config.apiBaseUrl }}{{ $('01 - Config Parameters').first().json.config.llmEndpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "a1b2c3d4-0007-4000-a000-000000000007",
      "name": "07 - LLM Fakt-Vergleich",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3160,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID_HERE",
          "name": "AI Hub API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 8: Parse LLM Result\n// Generisch: Verwendet config fuer Firmennamen\n// ═══════════════════════════════════════════════════════\nconst llmResp = $input.item.json;\nconst fact = $('06 - Parse RAG + Build LLM Request').item.json;\nconst config = fact.config;\nconst comp = config.currentCompetitor;\n\nlet answer = (llmResp.choices?.[0]?.message?.content || '')\n  .replace(/<think>[\\s\\S]*?<\\/think>/g, '')\n  .trim();\n\n// Bewertung extrahieren (letzter Satz oder Zeile mit 'besser'/'gleichwertig')\nlet bewertung = 'nicht ermittelt';\nconst bewertungMatch = answer.match(new RegExp(\n  `(${config.ownCompanyShort}\\\\s+besser|${comp.short}\\\\s+besser|gleichwertig|nicht vergleichbar)`,\n  'i'\n));\nif (bewertungMatch) {\n  bewertung = bewertungMatch[1];\n}\n\n// Kurzfassung extrahieren\nlet kurzfassung = '';\nconst kurzMatch = answer.match(/\\*\\*KURZFASSUNG:\\*\\*\\s*(.+)/i);\nif (kurzMatch) {\n  kurzfassung = kurzMatch[1].trim();\n}\n\nreturn {\n  id: fact.id,\n  kategorie: fact.kategorie,\n  aspekt: fact.aspekt,\n  own_data: fact.own_data,\n  vergleich_aus_rag: answer,\n  kurzfassung: kurzfassung,\n  bewertung: bewertung,\n  ragChunkCount: fact.ragChunkCount,\n  ragDistances: fact.ragDistances,\n  tokens: llmResp.usage?.total_tokens || 0,\n  competitorShort: comp.short,\n  competitorName: comp.name,\n  config: config\n};"
      },
      "id": "a1b2c3d4-0008-4000-a000-000000000008",
      "name": "08 - Parse Vergleichsergebnis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2920,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 9: Build Final Synthesis\n// Sammelt ALLE Einzelvergleiche (alle Fakten × alle Mitbewerber)\n// und baut den finalen LLM-Request fuer die Gesamtgegenueberstellung\n// ═══════════════════════════════════════════════════════\nconst allItems = $input.all();\nconst results = allItems.map(item => item.json);\nconst config = results[0]?.config || {};\n\n// Mitbewerber-Liste ermitteln (in Eingangsreihenfolge, dedupliziert)\nconst competitorMap = new Map();\nfor (const r of results) {\n  if (!competitorMap.has(r.competitorShort)) {\n    competitorMap.set(r.competitorShort, r.competitorName);\n  }\n}\nconst competitorNames = [...competitorMap.values()].join(', ');\n\n// Abschnitte pro Mitbewerber gruppieren\nconst byCompetitor = new Map();\nfor (const r of results) {\n  if (!byCompetitor.has(r.competitorShort)) {\n    byCompetitor.set(r.competitorShort, []);\n  }\n  byCompetitor.get(r.competitorShort).push(r);\n}\n\nlet comparisonSections = '';\nfor (const [compShort, compResults] of byCompetitor) {\n  const compName = competitorMap.get(compShort);\n  comparisonSections += '\\n\\n# Vergleich: ' + config.ownCompanyName + ' vs. ' + compName + '\\n\\n';\n  for (const r of compResults) {\n    comparisonSections +=\n      '## ' + r.id + '. ' + r.kategorie + ' - ' + r.aspekt + '\\n\\n' +\n      '**' + config.ownCompanyName + ' (' + config.ownCompanyShort + '):** ' + r.own_data + '\\n\\n' +\n      '**' + compShort + ' laut RAG-Analyse:**\\n' + r.vergleich_aus_rag + '\\n\\n' +\n      '*RAG Chunks: ' + r.ragChunkCount + ' | Distances: ' + (r.ragDistances || []).join(', ') + '*\\n\\n---\\n\\n';\n  }\n}\n\nconst systemPrompt =\n  'Du bist ein Versicherungsexperte der ' + config.ownCompanyName + '. ' +\n  'Du erstellst eine Executive Summary eines AVB-Vergleichs zwischen der ' +\n  config.ownCompanyName + ' ' + config.ownProductName + ' und folgenden Mitbewerbern: ' + competitorNames + '.\\n\\n' +\n  'Die Einzelvergleiche basieren auf einer RAG-Analyse der Mitbewerber-AVB-Dokumente.\\n\\n' +\n  '## Aufgabe:\\n' +\n  'Erstelle basierend auf den Einzelvergleichen eine strukturierte Gegenueberstellung mit:\\n\\n' +\n  '1. **Executive Summary** (3-5 Saetze Gesamtbewertung)\\n' +\n  '2. **Vorteile ' + config.ownCompanyName + '** (Bullet-Liste: wo ' + config.ownCompanyShort + ' besser ist, mit konkreten Details)\\n' +\n  '3. **Vorteile Mitbewerber** (Bullet-Liste pro Mitbewerber: wo diese besser sind, mit konkreten Details)\\n' +\n  '4. **Gleichwertige Leistungen** (wo alle aehnlich sind)\\n' +\n  '5. **Kritische Unterschiede** (die wichtigsten Differenzen fuer die Kundenberatung)\\n' +\n  '6. **Handlungsempfehlung fuer Produktmanagement** (wo sollte ' + config.ownCompanyShort + ' nachbessern?)\\n' +\n  '7. **RAG-Qualitaetsbericht** (Welche Aspekte konnten gut aus den AVB ermittelt werden? ' +\n  'Welche Aspekte konnten nicht aus den AVB ermittelt werden?)\\n\\n' +\n  'Formatiere als Markdown. Sei praezise und faktenbasiert. ' +\n  'Unterscheide klar zwischen Fakten aus den AVB und eigenen Bewertungen.';\n\nconst userPrompt =\n  'Hier sind die ' + results.length + ' Einzelvergleiche ' +\n  '(alle Fakten fuer alle Mitbewerber):\\n\\n' +\n  comparisonSections + '\\n\\nErstelle bitte die Gesamtgegenueberstellung.';\n\nreturn [{\n  json: {\n    allResults: results,\n    resultCount: results.length,\n    competitors: [...competitorMap.entries()].map(([short, name]) => ({ short, name })),\n    config: config,\n    requestBody: JSON.stringify({\n      model: config.llmModel,\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user', content: userPrompt }\n      ],\n      temperature: 0.3,\n      max_tokens: 4000,\n      stream: false\n    })\n  }\n}];"
      },
      "id": "a1b2c3d4-0009-4000-a000-000000000009",
      "name": "09 - Build Synthese-Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3720,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('01 - Config Parameters').first().json.config.apiBaseUrl }}{{ $('01 - Config Parameters').first().json.config.llmEndpoint }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "a1b2c3d4-0010-4000-a000-000000000010",
      "name": "10 - LLM Gesamtvergleich",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        16
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CREDENTIAL_ID_HERE",
          "name": "AI Hub API Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 11: Parse Final Synthesis + Build Output\n// ═══════════════════════════════════════════════════════\nconst llmResp = $input.item.json;\nconst synthData = $('09 - Build Synthese-Request').item.json;\nconst config = synthData.config;\n\nlet synthesis = (llmResp.choices?.[0]?.message?.content || '')\n  .replace(/<think>[\\s\\S]*?<\\/think>/g, '')\n  .trim();\n\nconst usage = llmResp.usage || {};\n\nreturn {\n  gesamtvergleich: synthesis,\n  einzelvergleiche: synthData.allResults,\n  anzahlFakten: synthData.resultCount,\n  model: llmResp.model || config.llmModel,\n  config: config,\n  usage: {\n    promptTokens: usage.prompt_tokens || 0,\n    completionTokens: usage.completion_tokens || 0,\n    totalTokens: usage.total_tokens || 0\n  },\n  timestamp: new Date().toISOString(),\n  status: 'completed'\n};"
      },
      "id": "a1b2c3d4-0011-4000-a000-000000000011",
      "name": "11 - Parse Gesamtvergleich",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2760,
        16
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 12: Report-Tabelle erstellen\n// Erzeugt eine strukturierte Tabelle mit allen Ergebnissen.\n// Unterstuetzt mehrere Mitbewerber: pro Mitbewerber eine Spalte.\n// ═══════════════════════════════════════════════════════\nconst data = $input.item.json;\nconst config = data.config;\nconst einzelvergleiche = data.einzelvergleiche || [];\nconst competitors = data.competitors || [];\n\n// Pivot: Fakten als Zeilen, Mitbewerber als Spalten\nconst byFact = new Map();\nfor (const e of einzelvergleiche) {\n  if (!byFact.has(e.id)) {\n    byFact.set(e.id, {\n      Nr: e.id,\n      Kategorie: e.kategorie,\n      Aspekt: e.aspekt,\n      [config.ownCompanyShort]: e.own_data\n    });\n  }\n  const row = byFact.get(e.id);\n  row[e.competitorShort] = e.kurzfassung || (e.vergleich_aus_rag || '').substring(0, 120) + ((e.vergleich_aus_rag || '').length > 120 ? '...' : '');\n  row[e.competitorShort + '_Bewertung'] = e.bewertung || 'nicht ermittelt';\n  row[e.competitorShort + '_RAG_Chunks'] = e.ragChunkCount;\n  row[e.competitorShort + '_Tokens'] = e.tokens;\n}\n\nconst reportTable = [...byFact.values()];\n\n// Zusammenfassung pro Mitbewerber\nconst summaries = competitors.map(comp => {\n  const compResults = einzelvergleiche.filter(e => e.competitorShort === comp.short);\n  const ownBetter = compResults.filter(e => (e.bewertung || '').toLowerCase().includes(config.ownCompanyShort.toLowerCase() + ' besser')).length;\n  const compBetter = compResults.filter(e => (e.bewertung || '').toLowerCase().includes(comp.short.toLowerCase() + ' besser')).length;\n  const equal = compResults.filter(e => (e.bewertung || '').toLowerCase().includes('gleichwertig')).length;\n  return {\n    competitor: comp.name,\n    competitorShort: comp.short,\n    totalFacts: compResults.length,\n    ownBetter,\n    competitorBetter: compBetter,\n    equal,\n    unclear: compResults.length - ownBetter - compBetter - equal\n  };\n});\n\nreturn {\n  reportTable,\n  summaries,\n  competitors,\n  gesamtvergleich: data.gesamtvergleich,\n  config,\n  meta: {\n    model: data.model,\n    usage: data.usage,\n    timestamp: data.timestamp,\n    status: data.status\n  }\n};"
      },
      "id": "a1b2c3d4-0012-4000-a000-000000000012",
      "name": "12 - Build Report Table",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        16
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ═══════════════════════════════════════════════════════\n// Step 13: Final Report Output\n// Erzeugt den vollstaendigen Report als Markdown\n// Unterstuetzt mehrere Mitbewerber mit dynamischen Spalten.\n// ═══════════════════════════════════════════════════════\nconst data = $input.all()[0].json;\nconst config = data.config;\nconst reportTable = data.reportTable || [];\nconst summaries = data.summaries || [];\nconst competitors = data.competitors || [];\n\n// --- Dynamische Tabellen-Spalten ---\nconst compHeaders = competitors.flatMap(c => [c.short + ' (RAG)', c.short + ' Bewertung']);\nconst tableHeader = '| Nr | Kategorie | Aspekt | ' + config.ownCompanyShort + ' | ' + compHeaders.join(' | ') + ' |';\nconst sepCols = ['--', '---------', '------', '-'.repeat(config.ownCompanyShort.length + 2), ...compHeaders.map(h => '-'.repeat(h.length + 2))];\nconst tableSeparator = '|' + sepCols.join('|') + '|';\nconst tableRows = reportTable.map(r => {\n  const compCells = competitors.flatMap(c => [\n    r[c.short] || '',\n    r[c.short + '_Bewertung'] || ''\n  ]);\n  return '| ' + r.Nr + ' | ' + r.Kategorie + ' | ' + r.Aspekt + ' | ' + (r[config.ownCompanyShort] || '') + ' | ' + compCells.join(' | ') + ' |';\n}).join('\\n');\n\n// --- Zusammenfassungsblock pro Mitbewerber ---\nconst summaryBlock = summaries.map(s =>\n  '### ' + s.competitor + ' (' + s.competitorShort + ')\\n\\n' +\n  '| Metrik | Wert |\\n' +\n  '|--------|------|\\n' +\n  '| Verglichene Fakten | ' + s.totalFacts + ' |\\n' +\n  '| ' + config.ownCompanyShort + ' besser | ' + s.ownBetter + ' |\\n' +\n  '| ' + s.competitorShort + ' besser | ' + s.competitorBetter + ' |\\n' +\n  '| Gleichwertig | ' + s.equal + ' |\\n' +\n  '| Nicht eindeutig | ' + s.unclear + ' |\\n'\n).join('\\n');\n\nconst competitorLine = competitors.map(c => c.name + ' (' + c.short + ')').join(', ');\nconst collectionLine = competitors.map(c => {\n  const comp = (config.competitors || []).find(x => x.short === c.short);\n  return c.short + ': ' + (comp ? comp.ragCollection : 'N/A');\n}).join(', ');\n\nconst fullReport =\n  '# AVB-Vergleich: ' + config.ownCompanyName + ' vs. ' + competitorLine + '\\n\\n' +\n  '**Erstellt:** ' + data.meta.timestamp + '\\n' +\n  '**Modell:** ' + data.meta.model + '\\n' +\n  '**Verglichene Fakten:** ' + reportTable.length + '\\n' +\n  '**Gesamt-Tokens Synthese:** ' + data.meta.usage.totalTokens + '\\n' +\n  '**Mitbewerber-Collections:** ' + collectionLine + '\\n\\n' +\n  '---\\n\\n' +\n  '## Zusammenfassung\\n\\n' + summaryBlock + '\\n\\n' +\n  '---\\n\\n' +\n  '# Executive Summary und Gegenueberstellung\\n\\n' +\n  data.gesamtvergleich + '\\n\\n' +\n  '---\\n\\n' +\n  '# Vergleichstabelle\\n\\n' +\n  tableHeader + '\\n' + tableSeparator + '\\n' + tableRows + '\\n';\n\n// Return individual table rows for XLSX conversion\nreturn reportTable.map(row => ({ json: row }));"
      },
      "id": "a1b2c3d4-0013-4000-a000-000000000013",
      "name": "13 - Final Report Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2040,
        64
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "xlsx",
        "options": {
          "fileName": "avb_vergleich_report.xlsx",
          "sheetName": "Vergleich"
        }
      },
      "id": "a1b2c3d4-0014-4000-a000-000000000014",
      "name": "14 - Convert to XLSX",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        -1680,
        64
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "01 - Config Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01 - Config Parameters": {
      "main": [
        [
          {
            "node": "02 - Eigene Fakten + RAG Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02 - Eigene Fakten + RAG Queries": {
      "main": [
        [
          {
            "node": "03 - Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "03 - Loop Over Items": {
      "main": [
        [
          {
            "node": "04 - Build RAG Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "09 - Build Synthese-Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "04 - Build RAG Request": {
      "main": [
        [
          {
            "node": "05 - RAG Retrieve Mitbewerber AVB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "05 - RAG Retrieve Mitbewerber AVB": {
      "main": [
        [
          {
            "node": "06 - Parse RAG + Build LLM Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "06 - Parse RAG + Build LLM Request": {
      "main": [
        [
          {
            "node": "07 - LLM Fakt-Vergleich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "07 - LLM Fakt-Vergleich": {
      "main": [
        [
          {
            "node": "08 - Parse Vergleichsergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "08 - Parse Vergleichsergebnis": {
      "main": [
        [
          {
            "node": "03 - Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "09 - Build Synthese-Request": {
      "main": [
        [
          {
            "node": "10 - LLM Gesamtvergleich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 - LLM Gesamtvergleich": {
      "main": [
        [
          {
            "node": "11 - Parse Gesamtvergleich",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11 - Parse Gesamtvergleich": {
      "main": [
        [
          {
            "node": "12 - Build Report Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12 - Build Report Table": {
      "main": [
        [
          {
            "node": "13 - Final Report Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13 - Final Report Output": {
      "main": [
        [
          {
            "node": "14 - Convert to XLSX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [
    {
      "name": "AVB-Vergleich"
    },
    {
      "name": "Generisch"
    },
    {
      "name": "Mitbewerber"
    }
  ]
}